In [1]:
# importing dependencies here
import requests
import pandas as pd
import csv

%load_ext nb_black

In [2]:
# Annual max temperature (celcius) anomaly (change)
url = "http://www.bom.gov.au/web01/ncc/www/cli_chg/timeseries/tmax/0112/aus/latest.txt"
response_string = requests.get(url).text.split("\n")[:-1]
col1 = [int(item[0:4]) for item in response_string]
col2 = [float(item[15:]) for item in response_string]
dict_of_cols = {"max_temp_anomaly_year": col1, f"max_temp_anomaly_celcius": col2}
aus_max_temp_anomaly_df = pd.DataFrame(data=dict_of_cols)
aus_max_temp_anomaly_df.to_csv(
    "climate_data/aus_max_temp_anomaly_data.csv", index=False
)
aus_max_temp_anomaly_df.head(2)

   max_temp_anomaly_year  max_temp_anomaly_celcius
0                   1910                     -0.71
1                   1911                     -0.51

In [3]:
# Annual min temperature (celcius) anomaly (change)
url = "http://www.bom.gov.au/web01/ncc/www/cli_chg/timeseries/tmin/0112/aus/latest.txt"
response_string = requests.get(url).text.split("\n")[:-1]
col1 = [int(item[0:4]) for item in response_string]
col2 = [float(item[15:]) for item in response_string]
dict_of_cols = {"min_temp_anomaly_year": col1, "min_temp_anomaly_celcius": col2}
aus_min_temp_anomaly_df = pd.DataFrame(data=dict_of_cols)
aus_min_temp_anomaly_df.to_csv(
    "climate_data/aus_min_temp_anomaly_data.csv", index=False
)
aus_min_temp_anomaly_df.head(2)

   min_temp_anomaly_year  min_temp_anomaly_celcius
0                   1910                     -0.32
1                   1911                     -0.86

In [4]:
# Annual mean temperature (celcius) anomaly (change)
url = "http://www.bom.gov.au/web01/ncc/www/cli_chg/timeseries/tmean/0112/aus/latest.txt"
response_string = requests.get(url).text.split("\n")[:-1]
col1 = [int(item[0:4]) for item in response_string]
col2 = [float(item[15:]) for item in response_string]
dict_of_cols = {"mean_temp_anomaly_year": col1, "mean_temp_anomaly_celcius": col2}
aus_mean_temp_anomaly_df = pd.DataFrame(data=dict_of_cols)
aus_mean_temp_anomaly_df.to_csv(
    "climate_data/aus_mean_temp_anomaly_data.csv", index=False
)
aus_mean_temp_anomaly_df.head(2)

   mean_temp_anomaly_year  mean_temp_anomaly_celcius
0                    1910                      -0.51
1                    1911                      -0.68

In [5]:
# Annual rainfall (mm)
url = "http://www.bom.gov.au/web01/ncc/www/cli_chg/timeseries/rain/0112/aus/latest.txt"
response_string = requests.get(url).text.split("\n")[:-1]
col1 = [int(item[0:4]) for item in response_string]
col2 = [float(item[14:]) for item in response_string]
dict_of_cols = {"annual_rainfall_year": col1, "annual_rainfall_mm": col2}
aus_annual_rainfall_df = pd.DataFrame(data=dict_of_cols)
aus_annual_rainfall_df.to_csv("climate_data/aus_annual_rainfall_data.csv", index=False)
aus_annual_rainfall_df.head(2)

   annual_rainfall_year  annual_rainfall_mm
0                  1900              373.40
1                  1901              406.65

In [6]:
# Annual rainfall (mm) anomaly (change)
url = (
    "http://www.bom.gov.au/web01/ncc/www/cli_chg/timeseries/rranom/0112/aus/latest.txt"
)
response_string = requests.get(url).text.split("\n")[:-1]
col1 = [int(item[0:4]) for item in response_string]
col2 = [float(item[13:]) for item in response_string]
dict_of_cols = {
    "annual_rainfall_anomaly_year": col1,
    "annual_rainfall_anomaly_mm": col2,
}
aus_annual_rainfall_anomaly_df = pd.DataFrame(data=dict_of_cols)
aus_annual_rainfall_anomaly_df.to_csv(
    "climate_data/aus_annual_rainfall_anomaly_data.csv", index=False
)
aus_annual_rainfall_anomaly_df.head(2)

   annual_rainfall_anomaly_year  annual_rainfall_anomaly_mm
0                          1900                      -91.79
1                          1901                      -58.54

In [7]:
# Annual sea surface temperature anomaly (change)
url = "http://www.bom.gov.au/web01/ncc/www/cli_chg/timeseries/sst/0112/aus/latest.txt"
response_string = requests.get(url).text.split("\n")[:-1]
col1 = [int(item[0:4]) for item in response_string]
col2 = [float(item[15:]) for item in response_string]
dict_of_cols = {
    "sea_surface_temp_anomaly_year": col1,
    "sea_surface_temp_anomaly_celcius": col2,
}
aus_sea_surface_temp_anomaly_df = pd.DataFrame(data=dict_of_cols)
aus_sea_surface_temp_anomaly_df.to_csv(
    "climate_data/aus_sea_surface_temp_anomaly_data.csv", index=False
)
aus_sea_surface_temp_anomaly_df.head(2)

   sea_surface_temp_anomaly_year  sea_surface_temp_anomaly_celcius
0                           1900                             -0.08
1                           1901                             -0.49

In [8]:
# carbon dioxide
aus_annual_mean_co2_df = (
    pd.read_csv("air_pollutant_data/CapeGrim_CO2_data.csv")[0:-1]
    .groupby("YYYY")["CO2(ppm)"]
    .mean()
    .to_frame()
)
aus_annual_mean_co2_df.head(2)

        CO2(ppm)
YYYY
1976  330.172875
1977  331.697000

In [9]:
# methane
aus_annual_mean_ch4_df = (
    pd.read_csv("air_pollutant_data/CapeGrim_CH4_data.csv")[0:-1]
    .groupby("YYYY")["CH4(ppb)"]
    .mean()
    .to_frame()
)
aus_annual_mean_ch4_df.head(2)

      CH4(ppb)
YYYY
1978   1488.05
1979   1495.10

In [10]:
# nitrous oxide
aus_annual_mean_n2o_df = (
    pd.read_csv("air_pollutant_data/CapeGrim_N2O_data.csv")[0:-1]
    .groupby("YYYY")["N2O(ppb)"]
    .mean()
    .to_frame()
)
aus_annual_mean_n2o_df.head(2)

      N2O(ppb)
YYYY
1978    299.37
1980    301.66

In [11]:
# combined greenhouse gases/air pollutant data
aus_co2_ch4_df = pd.merge(aus_annual_mean_co2_df, aus_annual_mean_ch4_df, on="YYYY")
aus_air_pollutants_combined_data = (
    pd.merge(aus_co2_ch4_df, aus_annual_mean_n2o_df, on="YYYY")
    .reset_index()
    .rename(
        columns={
            "YYYY": "air_pollutant_year",
            "CO2(ppm)": "CO2_ppm",
            "CH4(ppb)": "CH4_ppb",
            "N2O(ppb)": "N2O_ppb",
        }
    )
)
aus_air_pollutants_combined_data.to_csv(
    "air_pollutant_data/aus_air_pollutants_combined_data.csv", index=False
)
aus_air_pollutants_combined_data.head(2)

   air_pollutant_year     CO2_ppm  CH4_ppb  N2O_ppb
0                1978  333.476000  1488.05   299.37
1                1980  336.526167  1540.10   301.66

In [12]:
# New South Wales Fire Count Data - Daily
new_south_wales_firecount_df = pd.read_csv(
    "fire_counts_data/Table_MODIS_fire_counts_2002_2019_NSW_per_fire_year.csv"
).rename(
    columns={
        "DOY": "nsw_DOY",
        "2002/2003": "nsw_2002_2003",
        "2003/2004": "nsw_2003_2004",
        "2004/2005": "nsw_2004_2005",
        "2005/2006": "nsw_2005_2006",
        "2006/2007": "nsw_2006_2007",
        "2007/2008": "nsw_2007_2008",
        "2008/2009": "nsw_2008_2009",
        "2009/2010": "nsw_2009_2010",
        "2010/2011": "nsw_2010_2011",
        "2011/2012": "nsw_2011_2012",
        "2012/2013": "nsw_2012_2013",
        "2013/2014": "nsw_2013_2014",
        "2014/2015": "nsw_2014_2015",
        "2015/2016": "nsw_2015_2016",
        "2016/2017": "nsw_2016_2017",
        "2017/2018": "nsw_2017_2018",
        "2018/2019": "nsw_2018_2019",
        "2019/2020": "nsw_2019_2020",
    }
)

new_south_wales_firecount_df.to_csv(
    "fire_counts_data/MODIS_fire_counts_2002_2019_NSW_per_fire_year.csv", index=False
)

new_south_wales_firecount_df.head(2)

,nsw_DOY,nsw_2002_2003,nsw_2003_2004,nsw_2004_2005,nsw_2005_2006,nsw_2006_2007,nsw_2007_2008,nsw_2008_2009,nsw_2009_2010,nsw_2010_2011,nsw_2011_2012,nsw_2012_2013,nsw_2013_2014,nsw_2014_2015,nsw_2015_2016,nsw_2016_2017,nsw_2017_2018,nsw_2018_2019,nsw_2019_2020
0,1,6,2,146,3,14,21,17,14,4,66,4,6,7,11,7,8,2,52.0
1,2,29,3,216,6,20,30,49,30,5,113,9,29,50,13,12,30,27,112.0

In [13]:
# Queensland Fire Count Data - Daily
queensland_firecount_df = pd.read_csv(
    "fire_counts_data/Table_MODIS_fire_counts_2002_2019_Queensland_per_fire_year.csv"
).rename(
    columns={
        "DOY": "queensland_DOY",
        "2002/2003": "queensland_2002_2003",
        "2003/2004": "queensland_2003_2004",
        "2004/2005": "queensland_2004_2005",
        "2005/2006": "queensland_2005_2006",
        "2006/2007": "queensland_2006_2007",
        "2007/2008": "queensland_2007_2008",
        "2008/2009": "queensland_2008_2009",
        "2009/2010": "queensland_2009_2010",
        "2010/2011": "queensland_2010_2011",
        "2011/2012": "queensland_2011_2012",
        "2012/2013": "queensland_2012_2013",
        "2013/2014": "queensland_2013_2014",
        "2014/2015": "queensland_2014_2015",
        "2015/2016": "queensland_2015_2016",
        "2016/2017": "queensland_2016_2017",
        "2017/2018": "queensland_2017_2018",
        "2018/2019": "queensland_2018_2019",
        "2019/2020": "queensland_2019_2020",
    }
)

queensland_firecount_df.to_csv(
    "fire_counts_data/MODIS_fire_counts_2002_2019_Queensland_per_fire_year.csv",
    index=False,
)

queensland_firecount_df.head(2)

,queensland_DOY,queensland_2002_2003,queensland_2003_2004,queensland_2004_2005,queensland_2005_2006,queensland_2006_2007,queensland_2007_2008,queensland_2008_2009,queensland_2009_2010,queensland_2010_2011,queensland_2011_2012,queensland_2012_2013,queensland_2013_2014,queensland_2014_2015,queensland_2015_2016,queensland_2016_2017,queensland_2017_2018,queensland_2018_2019,queensland_2019_2020
0,1,51,21,164,11,33,87,25,47,35,169,15,106,66,21,195,82,6,120.0
1,2,84,73,299,52,84,206,121,104,62,199,60,230,222,39,401,96,26,240.0

In [14]:
# Victoria Fire Count Data - Daily
victoria_firecount_df = pd.read_csv(
    "fire_counts_data/Table_MODIS_fire_counts_2002_2019_Victoria_per_fire_year.csv"
).rename(
    columns={
        "DOY": "victoria_DOY",
        "2002/2003": "victoria_2002_2003",
        "2003/2004": "victoria_2003_2004",
        "2004/2005": "victoria_2004_2005",
        "2005/2006": "victoria_2005_2006",
        "2006/2007": "victoria_2006_2007",
        "2007/2008": "victoria_2007_2008",
        "2008/2009": "victoria_2008_2009",
        "2009/2010": "victoria_2009_2010",
        "2010/2011": "victoria_2010_2011",
        "2011/2012": "victoria_2011_2012",
        "2012/2013": "victoria_2012_2013",
        "2013/2014": "victoria_2013_2014",
        "2014/2015": "victoria_2014_2015",
        "2015/2016": "victoria_2015_2016",
        "2016/2017": "victoria_2016_2017",
        "2017/2018": "victoria_2017_2018",
        "2018/2019": "victoria_2018_2019",
        "2019/2020": "victoria_2019_2020",
    }
)

victoria_firecount_df.to_csv(
    "fire_counts_data/MODIS_fire_counts_2002_2019_Victoria_per_fire_year.csv",
    index=False,
)

victoria_firecount_df.head(2)

,victoria_DOY,victoria_2002_2003,victoria_2003_2004,victoria_2004_2005,victoria_2005_2006,victoria_2006_2007,victoria_2007_2008,victoria_2008_2009,victoria_2009_2010,victoria_2010_2011,victoria_2011_2012,victoria_2012_2013,victoria_2013_2014,victoria_2014_2015,victoria_2015_2016,victoria_2016_2017,victoria_2017_2018,victoria_2018_2019,victoria_2019_2020
0,1,1,0,7,0,0,0,2,0,0,5,0,1,0,0,0,2,0,2.0
1,2,1,2,7,0,0,0,2,0,0,7,0,4,0,4,0,12,5,3.0

In [15]:
# New South Wales Fire Count Data - Annual Total
new_south_wales_firecount_df = pd.read_csv(
    "fire_counts_data/Table_MODIS_fire_counts_2002_2019_NSW_per_fire_year.csv"
)

new_south_wales_firecount_data = new_south_wales_firecount_df.transpose().drop("DOY")
new_south_wales_firecount_data.fillna(
    new_south_wales_firecount_data.loc["2019/2020"][185], inplace=True
)
new_south_wales_firecount_data = (
    pd.DataFrame(new_south_wales_firecount_data[364])
    .reset_index()
    .rename(columns={364: "nsw_total_fires", "index": "nsw_fire_year"})
)
new_south_wales_firecount_data.to_csv(
    "fire_counts_data/nsw_annual_total_fire_counts.csv", index=False
)
new_south_wales_firecount_data.head(2)

  nsw_fire_year  nsw_total_fires
0     2002/2003          34445.0
1     2003/2004          17869.0

In [16]:
# Queensland Fire Count Data - Annual Total
queensland_firecount_df = pd.read_csv(
    "fire_counts_data/Table_MODIS_fire_counts_2002_2019_Queensland_per_fire_year.csv"
)

queensland_firecount_data = queensland_firecount_df.transpose().drop("DOY")
queensland_firecount_data.fillna(
    queensland_firecount_data.loc["2019/2020"][185], inplace=True
)
queensland_firecount_data = (
    pd.DataFrame(queensland_firecount_data[364])
    .reset_index()
    .rename(columns={364: "queensland_total_fires", "index": "queensland_fire_year"})
)
queensland_firecount_data.to_csv(
    "fire_counts_data/queensland_annual_total_fire_counts.csv", index=False
)
queensland_firecount_data.head(2)

  queensland_fire_year  queensland_total_fires
0            2002/2003                 68919.0
1            2003/2004                 49492.0

In [17]:
# Victoria Fire Count Data - Annual Total
victoria_firecount_df = pd.read_csv(
    "fire_counts_data/Table_MODIS_fire_counts_2002_2019_Victoria_per_fire_year.csv"
)

victoria_firecount_data = victoria_firecount_df.transpose().drop("DOY")
victoria_firecount_data.fillna(
    victoria_firecount_data.loc["2019/2020"][185], inplace=True
)
victoria_firecount_data = (
    pd.DataFrame(victoria_firecount_data[364])
    .reset_index()
    .rename(columns={364: "victoria_total_fires", "index": "victoria_fire_year"})
)
victoria_firecount_data.to_csv(
    "fire_counts_data/victoria_annual_total_fire_counts.csv", index=False
)
victoria_firecount_data.head(2)

  victoria_fire_year  victoria_total_fires
0          2002/2003               19820.0
1          2003/2004                5341.0