In [2]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from urllib.request import urlopen
import html5lib
import pprint

url = 'https://en.wikipedia.org/wiki/2019%E2%80%9320_Australian_bushfire_season'
html = urlopen(url) 
soup = BeautifulSoup(html, 'html.parser')
table = soup.find_all("table", class_="wikitable sortable plainrowheaders")
lst = pd.read_html(str(table))

lst[0].to_csv(r'df_2019_2020_fires.csv')

df_2019_2020_fire_data = pd.read_csv(r'df_2019_2020_fires.csv')
df_2019_2020_fire_data.drop(df_2019_2020_fire_data.index[0])


df_2019_2020_fire_data.columns=['number','state','human_fatalities','homes_destroyed','hectacres_burned ','acres_burned','notes']
df_2019_2020_fire_data.insert(1, "year",['2019','2019','2019','2019','2019','2019','2019','2019','2019','2019'],True)
df_2019_2020_fire_data = df_2019_2020_fire_data.drop('number' , axis='columns')
df_2019_2020_fire_data['homes_destroyed'] = df_2019_2020_fire_data['homes_destroyed'].str.replace('+', '')
df_2019_2020_fire_data['homes_destroyed'] = df_2019_2020_fire_data['homes_destroyed'].str.replace(',', '')
df_2019_2020_fire_data = df_2019_2020_fire_data.drop([0])
df_2019_2020_fire_data = df_2019_2020_fire_data.drop(['notes'],axis=1)
# df_2019_2020_fire_data.head(10)
# df_2019_2020_fire_data.to_csv(r'C:\Users\james\Desktop\project_australian_bushfires_webapp\data\impact_data\df_2019_2020_fires.csv')

In [7]:
import requests 
import urllib.request
import time
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from urllib.request import urlopen
import html5lib
import pprint
import os
import codecs
import re


url = 'https://en.wikipedia.org/wiki/List_of_major_bushfires_in_Australia' 
r = requests.get(url)
soup = BeautifulSoup(r.content)
# type(soup)

table=soup.find('table', {'class', 'wikitable sortable'})

headers= [header.text for header in table.find_all('th')]
headers.remove('Properties damaged\n')
headers.remove('Area burned (approx.)\n')
headers


rows = []
for row in table.find_all('tr'):
    rows.append([val.text.encode('utf8') for val in row.find_all('td')])
    # pprint.pprint(rows)
    
df_hist_fires = pd.DataFrame(rows, columns=headers)

#create header titles, decode from UTF8
df_hist_fires.columns = ['date', 'name', 'state', 'hectacres_burned', 'acres_burned', 'fatalities', 'homes_lost', 'other_lost', 'other_damage', 'notes']
df_hist_fires['date'] = df_hist_fires['date'].str.decode('utf-8')
df_hist_fires['name'] = df_hist_fires['name'].str.decode('utf-8')
df_hist_fires['state'] = df_hist_fires['state'].str.decode('utf-8')
df_hist_fires['hectacres_burned'] = df_hist_fires['hectacres_burned'].str.decode('utf-8')
df_hist_fires['acres_burned'] = df_hist_fires['acres_burned'].str.decode('utf-8')
df_hist_fires['fatalities'] = df_hist_fires['fatalities'].str.decode('utf-8')
df_hist_fires['homes_lost'] = df_hist_fires['homes_lost'].str.decode('utf-8')
df_hist_fires['other_lost'] = df_hist_fires['other_lost'].str.decode('utf-8')
df_hist_fires['other_damage'] = df_hist_fires['other_damage'].str.decode('utf-8')

#removing decode values
df_hist_fires.drop(["notes"], axis = 1, inplace = True)
df_hist_fires = df_hist_fires.replace(r'\\n',' ', regex=True)
df_hist_fires = df_hist_fires.replace('\n',' ', regex=True)

#clean date, fatalities and homes lost
df_hist_fires.name.str.split(expand=True,)
df_hist_fires['year'] = df_hist_fires['date'].str.extract('(\d\d\d\d)', expand=True)
df_hist_fires['human_fatalities'] = df_hist_fires['fatalities'].str.extract('(\d\d)', expand=True)

df_hist_fires['homes_destroyed'] = df_hist_fires['homes_lost'].str.split(".").str[-1].str.replace(',', '')
df_hist_fires['homes_destroyed'] = df_hist_fires['homes_destroyed'].str.replace(',', '')
df_hist_fires['homes_destroyed'] = df_hist_fires['homes_destroyed'].str.replace('approx.', '')
df_hist_fires['homes_destroyed'] = df_hist_fires['homes_destroyed'].str.extract(r'(\d+)', expand=True)

df_hist_fires['other_lost'] = df_hist_fires['other_lost'].str.replace(',', '')
df_hist_fires['other_lost'] = df_hist_fires['other_lost'].str.extract(r'(\d+)', expand=True)

df_hist_fires['human_fatalities'] = df_hist_fires['fatalities'].str.split(".").str[-1]
df_hist_fires['human_fatalities'] = df_hist_fires['human_fatalities'].str.extract(r'(\d+)', expand=True)

#dropping unclean columns
df_hist_fires.drop(["date","fatalities","homes_lost", "other_lost"], axis = 1, inplace = True)
df_hist_fires = df_hist_fires.drop([0,1])
df_hist_fires.dropna()


df_hist_fires.head(1)


# df_hist_fires.to_csv(r'C:\Users\james\Desktop\project_australian_bushfires_webapp\data\impact_data\df_hist_fires.csv')

,name,state,hectacres_burned,acres_burned,other_damage,year,human_fatalities,homes_destroyed
2,Black Thursday bushfires,Victoria,"5,000,000","12,000,000",1 million sheepthousands of cattle,1851,12,NaN

In [27]:
# Cleaning financial data
import pandas as pd
import numpy as np
df_economic_data = pd.read_csv('./impact_data/aus_financial_data.csv')
df_economic_data.head(10)

,year,gdp_current_us_dol,gdp_per_growth_annual,domestic_credit_financial_sector_per_gdp,domestic_credit_private_sector_banks_per_gdp,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1960,18.58,NaN,42.10,18.73,NaN,NaN,NaN
1,1961,19.65,2.49,40.57,17.28,NaN,NaN,NaN
2,1962,19.89,1.30,42.95,18.56,NaN,NaN,NaN
3,1963,21.51,6.21,42.87,19.19,NaN,NaN,NaN
4,1964,23.76,6.98,43.59,19.94,NaN,NaN,NaN
5,1965,25.94,5.98,43.75,20.63,NaN,NaN,NaN
6,1966,27.27,2.38,45.13,22.03,NaN,NaN,NaN
7,1967,30.40,6.30,44.94,22.35,NaN,NaN,NaN
8,1968,32.67,5.10,45.07,23.55,NaN,NaN,NaN
9,1969,36.63,7.04,45.29,23.61,NaN,NaN,NaN

In [28]:
df_aus_cip_data = pd.read_csv('./impact_data/aus_cpi_data.csv')
df_aus_cip_data['year'] = df_aus_cip_data['year'].str.extract('(\d\d\d\d)', expand=True)
df_aus_cip_data.head(10)

,year,new_south_wales_cip,victoria_cpi,queensland_cpi,southern_australia_cpi,western_australia_cip,tasmania_cpi,nothern_territory_cpi,australian_capital_territory_cpi
0,1948,3.7,3.8,3.7,3.8,3.7,3.8,NaN,3.9
1,1948,3.7,3.8,3.7,3.9,3.8,3.9,NaN,4.1
2,1949,3.9,3.9,3.8,4.0,3.9,4.0,NaN,4.1
3,1949,3.9,4.0,3.9,4.0,4.0,4.1,NaN,4.2
4,1949,4.0,4.1,4.0,4.1,4.1,4.1,NaN,4.3
5,1949,4.1,4.2,4.1,4.1,4.2,4.2,NaN,4.3
6,1950,4.1,4.3,4.1,4.2,4.2,4.2,NaN,4.4
7,1950,4.3,4.4,4.2,4.4,4.4,4.3,NaN,4.6
8,1950,4.4,4.5,4.3,4.4,4.5,4.4,NaN,4.7
9,1950,4.6,4.6,4.4,4.6,4.6,4.5,NaN,4.8